@tailwind base;

img {
  margin-bottom: 0rem;
}

@tailwind components;

.card {
  @apply shadow-xl;
}
.card:hover {
  @apply bg-gray-100;
}

@tailwind utilities;

div.tooltip {	
  position: absolute;	
  text-align: center;	
  padding: 2px;
  font: 12px;
  background: rgba(255, 255, 255, 0.9);
  border: 0px;
  border-radius: 8px;	
  pointer-events: none;	
}

.curved {
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
}