@tailwind base;

:root {
  --viewable: 0;
}

body {
  @apply bg-indigo-100;
}
img {
  margin-bottom: 0rem;
}

@tailwind components;

.slide {
  @apply transition-all ease-out duration-500 transform;
  --transform-translate-x: calc(var(--viewable)*-100%);
}

.tooltip {	
  position: absolute;	
  text-align: center;	
  padding: 2px;
  font: 12px;
  background: rgba(255, 255, 255, 0.9);
  border: 0px;
  border-radius: 8px;	
  pointer-events: none;	
}

.curved {
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
}

.project-gif-gif {
  @apply absolute bg-center bg-cover w-full border border-2 border-green-500 rounded;
  opacity: 0.1;
}

/* Select the element which has a class of `project-gif-gif` and also a class of `active`. */
.project-gif-gif.active {
  opacity: 1;
}

.project-gif-title {}

.project-gif-title.active {
  @apply px-1;
  @apply rounded;
  background-color: rgba(255, 255, 255, 0.8);
}

.netflix-swap {
  background-image: url('src/images/netflix_static.png');
}

.netflix-swap.active {
  background-image: url('src/images/netflix_gif.gif');
}

.portfolio-swap {
  background-image: url('src/images/portfolio_static.png');
}

.portfolio-swap.active {
  background-image: url('src/images/portfolio_gif.gif');
}

.shootercoaster-swap {
  background-image: url('src/images/shootercoaster_static.png');
}

.shootercoaster-swap.active {
  background-image: url('src/images/shootercoaster_gif.gif');
}

.somryst-swap {
  background-image: url('src/images/somryst_static.png');
}

.somryst-swap.active {
  background-image: url('src/images/somryst_gif.gif');
}

.sweetspot-swap {
  background-image: url('src/images/sweetspot_static.png');
}

.sweetspot-swap.active {
  background-image: url('src/images/sweetspot_gif.gif');
}

.tapjoy-swap {
  background-image: url('src/images/tapjoy_static.png');
}

.tapjoy-swap.active {
  background-image: url('src/images/tapjoy_gif.gif');
}

@tailwind utilities;