@tailwind base;

img {
  margin-bottom: 0rem;
}

@tailwind components;

.tooltip {	
  position: absolute;	
  text-align: center;	
  padding: 2px;
  font: 12px;
  background: rgba(255, 255, 255, 0.9);
  border: 0px;
  border-radius: 8px;	
  pointer-events: none;	
}

.curved {
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
}

.project-gif-swap {
  @apply absolute bg-center bg-cover w-full border border-2 border-teal-500 rounded;
  opacity: 0.1;
}

.project-gif-swap:hover,
.project-gif-swap.hover {
  opacity: 1;
}

.netflix-swap {
  background-image: url('src/images/netflix_static.png');
}

.netflix-swap:hover,
.netflix-swap.hover {
  background-image: url('src/images/netflix_gif.gif');
}

.portfolio-swap {
  background-image: url('src/images/portfolio_static.png');
}

.portfolio-swap:hover,
.portfolio-swap.hover {
  background-image: url('src/images/portfolio_gif.gif');
}

.shootercoaster-swap {
  background-image: url('src/images/shootercoaster_static.png');
}

.shootercoaster-swap:hover,
.shootercoaster-swap.hover {
  background-image: url('src/images/shootercoaster_gif.gif');
}

.somryst-swap {
  background-image: url('src/images/somryst_static.png');
}

.somryst-swap:hover,
.somryst-swap.hover {
  background-image: url('src/images/somryst_gif.gif');
}

.sweetspot-swap {
  background-image: url('src/images/sweetspot_static.png');
}

.sweetspot-swap:hover,
.sweetspot-swap.hover {
  background-image: url('src/images/sweetspot_gif.gif');
}

.tapjoy-swap {
  background-image: url('src/images/tapjoy_static.png');
}

.tapjoy-swap:hover,
.tapjoy-swap.hover {
  background-image: url('src/images/tapjoy_gif.gif');
}

@tailwind utilities;